<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <style>
    body {
      background-image: linear-gradient(to top left, rgb(205, 243, 205), white);
      background-attachment: fixed;
    }
  </style>
</head>

  {%- include head.html -%}

  <body>

    <div class="no-print">
      {%- include header.html -%}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="no-print">
      {%- include footer.html -%}
    </div>
  </body>

</html>
